.__COMPONENT_NAME__ {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #999;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.__COMPONENT_NAME__ a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.__COMPONENT_NAME__ a:hover {
  color: #535bf2;
}

.__COMPONENT_NAME__ h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.__COMPONENT_NAME__ button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.__COMPONENT_NAME__ button:hover {
  border-color: #646cff;
}
.__COMPONENT_NAME__ > button:focus,
.__COMPONENT_NAME__ > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .__COMPONENT_NAME__ {
    color: #213547;
    background-color: #ffffff;
  }
  .__COMPONENT_NAME__ a:hover {
    color: #747bff;
  }
  .__COMPONENT_NAME__ button {
    background-color: #f9f9f9;
  }
}

.__COMPONENT_NAME__ {
  margin: 0 auto;
  text-align: center;
}

.__COMPONENT_NAME__ .card {
  padding: 2em;
}
